.red {
  color: red;
}
.bold {
  font-weight: bold;
}
.Button {
  background-color: green;
  padding: 16px;
  border: 1px solid blue;
  font: inherit;
  color: white;
  cursor: pointer;
}
.Button:hover {
  background-color: lightgreen;
  color: black;
}

.Button.Red {
  background-color: red;
}
.Button.Red:hover {
  background-color: salmon;
  color: black;
}
